$color-principal: #082032;
$min-height: 100vh;

/* EXTENDS */

.textos{
    text-align: center;
    color: white;
}

.texto-empresa1{
    @extend .textos;
    font-size: 16px;
}

.texto-empresa2{
    @extend .textos;
    font-size: 25px;
}

/* MAP */

$text: (
    "text-color": white,
    "font-size": 25px
)

